<h3 class="subtitle">Add Details</h3>
<%= form_with model: [@product, @detail], local: true do |f| %>

    <div class="control">
        <%= f.label :identifider_serial, "Identifider Serial" %>
        
    </div>

<% end %>
